//Couleurs principales
$violet-primaire: #9356DC;
$rose-secondaire: #FF79DA;
$aqua-tertiaire: #99E2D0;

//Couleur secondaires
$vert-clair: #99e2d0;
$gris-sombre: #353535;
$gris-clair: #e2e2e2;

//Textes
$txt-fond-clair: #000000;
$txt-fond-dark: #ffffff;
$txt-fond-vert: #008766;


$color-homepage-localisation: #EAEAEA;
$color-homepage-border-top: #D5D5D5;
$color-homepage-hautdepage: #F6F6F6;
$color-icon-nav: #7B7B7B;
$color-section: #F6F6F6;
$color-footer: #353535;


$margin15: 15px;


$media-desktop: 960px;
$media-tablette: 680px;