body {
    margin: 0;
    font-family: 'roboto', sans-serif;

    @include desktop {
        max-width: 1279px;
        margin: auto;
        background: linear-gradient($color-homepage-hautdepage, $color-homepage-hautdepage);
    }

    h1 {
        font-family: 'Shrikhand', sans-serif;
    }

    main {
        margin-top: -10px;

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
}