.btn {

    background: linear-gradient(to bottom right, $rose-secondaire, $violet-primaire);
    color: white;
    padding: 17px 43px;
    border-radius: 60px;
    border: none;
    display: block;
    font-size: 1.1rem;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
    margin: 30px auto -30px;


    &:hover {
        opacity: 0.8;
        background: linear-gradient(to right bottom, lighten($rose-secondaire, 5), lighten($violet-primaire, 5));
        box-shadow: 0.25rem 0.25rem 10px rgb(255 121 218 / 45%);
    }
}

.btn-homepage {

    white-space: nowrap;
    margin-top: 50px;
    padding: 17px 20px;

    @include tablet {
        font-size: 1em;
        padding: 17px 43px;
    }
}

.btn-heart {

    border: none;
    background-color: transparent;
    width: 45px;
    height: 34px;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .full-heart {
        position: absolute;
        right: 12px;
        top: 6px;
        background: -webkit-gradient(linear, left top, left bottom, from($violet-primaire), to($rose-secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        font-size: 1em;
    }

    .empty-heart {
        position: absolute;
        right: 6px;
        top: 0px;
    }

    /* Après animation */


    &:focus {
        .full-heart {
            opacity: 1;
            font-size: 2em;
            right: 6px;
            top: 0px;
            transition-duration: .60s;
        }

        .empty-heart {
            transition-duration: 1s;
            opacity: 0;
        }
    }


}